# cunit
cunit/examples/04_hashfunc/app
cunit/examples/04_hashfunc/ctest
cunit/examples/04_hashfunc/*.o
cunit/examples/04_hashfunc/.ninja_*

# gtest
gtest/examples/calculator/utest
gtest/examples/calculator/*.o
gtest/examples/calculator/.ninja_*
gtest/examples/calculator_for_c/utest
gtest/examples/calculator_for_c/*.o
gtest/examples/calculator_for_c/.ninja_*
